
@{
    ViewBag.Title = "SpofityData";

    List<string> values = ViewBag.ply;
}

<h2>SpofityDataAsync</h2>

<ul>
    @{
        foreach (var item in values)
        {
            <li> @item</li>
        }
    }
</ul>

